@CHARSET "UTF-8";



.hr
{
	border: 1px solid #333333;
}

.table
{
	border: 2px solid #666666;
	width: 100%;
	font-family: Verdana, Arial;
	font-size: 12px;
	background-colour: #333333;	
	colour: #FFFFFF;
}

.header
{
	background-image:url('images/rooms.jpg');	
	background-repeat: repeat-x;
	font-weight: bold;
}

.row
{
	background-colour: #F5F5F5;
}

.obody
{
	margin: 5px 5px 0 5px;
	padding: 0 0 0 0;	
	background-colour: #999999;	
}

.pageheader
{ 
	padding: 2px 2px 2px 34px; 
	background-colour: #666666;
	font-weight: bold;
	font-size: 13px;
	height: 20px;
	colour: #FFFFFF;
	font-family: Verdana, Arial;
	font-size: 12px;
	
	-moz-border-radius: 3px;
	border-radius: 3px;	

	background-image: url('images/icon.png');
	background-repeat: no-repeat;	
}
